<h1>Componente Profesor</h1>
<p>Nombre: {{nombre}}</p>
<p>Edad: {{edad}}</p>
<p *ngIf="casado; else soltero">Estado civil: casado</p>
<ng-template #soltero>
<p>Estado civil: soltero</p>
</ng-template>
<p>Trabajos:</p>
<ul> <li *ngFor="let i of trabajos">
   {{i}}
   </li>
</ul>
<ul>
    <li *ngFor="let i of profesorado; let x = index">
        <strong>Profesor {{x+1}}</strong>
        <ul>
            <li>{{i.nombre}}</li>
            <li>{{i.edad}}</li>
            <li>{{i.materia}}</li>
            <li *ngIf="i.contratado">Contratado</li>
            <li *ngIf="!i.contratado">No Contratado</li>
        </ul>
    </li>
</ul>
<h2>Switch case</h2>
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{'color': color}">Rojo</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{'color': color}">Azul</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{'color': color}">Verde</li>
    <li *ngSwitchDefault style="color:black">Negro</li>
</ul>

<h2>Evento click</h2>
<button (click)="pulsarBoton()">Cambiar de usuario</button>

<div *ngIf="admin; else noAdmin">
    <strong> Eres el administrador</strong>
</div>

<ng-template #noAdmin>
    <div>
        <strong> No eres el administrador</strong>
    </div>
</ng-template>